*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

/* BODY & ELEMENT */

body {
	background-color: #eef2f9;
	color: #525f7f;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	padding: 1em 1.5em 1.25em;

	h1 {
		font-size: 1.476rem;
		margin: 1.5em 0 1.75em;
		text-align: center;
	}

	h2 {
		font-size: 1.383rem;
		font-weight: 500;
		margin: 0.25em 0 1em 0.25em;
	}

	h3 {
		font-weight: 400;
		margin-bottom: 0.5em;
	}
}

/* CONTAINER */

.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.task {
		border-top: 0px solid #eef2f9;
		margin-top: 2em;
		min-height: 300px;
		width: 100%;
		display: flex;
		flex-direction: column;
		height: fit-content;
		justify-content: space-between;
		padding: 0.5em;
		border-radius: 5px;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
		-moz-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
		box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
		-webkit-transition: all 0.25s ease-in;
		-moz-transition: all 0.25s ease-in;
		-ms-transition: all 0.25s ease-in;
		-o-transition: all 0.25s ease-in;
		transition: all 0.25s ease-in;

		.task_list {
			-webkit-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
			-moz-box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
			box-shadow: 0px 1px 5px 0px rgba(128, 128, 128, 0.75);
			background-color: #f6f8fc;
			border-radius: 10px;
			margin: 0 auto;
			padding: 0.75em;
			width: 95%;
			height: auto;
			margin-bottom: 1.5em;
		}
	}

	.task:nth-child(1) {
		margin-top: 0;
	}
}

/* BUTTON */

.add-task {
	text-align: center;
}

.add-button,
.select-priority {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

.add-button {
	background-color: transparent;
	border: none;
	border-radius: 10px;
	color: inherit;
	/* font-size: 1.067rem; */
	height: 40px;
	padding: 0 0.5em;
	-webkit-transition: background-color 0.25s ease-in;
	-moz-transition: background-color 0.25s ease-in;
	-ms-transition: background-color 0.25s ease-in;
	-o-transition: background-color 0.25s ease-in;
	transition: background-color 0.25s ease-in;
}

.add-button:hover {
	cursor: pointer;
	background-color: hsla(0, 0%, 78%, 0.752);
	border-radius: 10px;
}

.add-button:active {
	color: red;
}

/* INLINE FORM */
.inline-input {
	border-radius: 5px;
	font-size: 0.867rem;
	width: 95%;
	padding: 0.25em;
	margin: 2em 0 1em;
}

/* MODIFIER */

.to-do:hover {
	border-top: 8px solid hsl(144, 21%, 54%);
}

.in-progress:hover {
	border-top: 8px solid #af5b5b;
}

.review:hover {
	border-top: 8px solid #7fd1b9;
}
.done:hover {
	border-top: 8px solid #f0c987;
}

.select-priority {
	border-radius: 5px;
	font-size: 0.867rem;
	padding: 0.25em 0.5em;
	text-align: center;
	-webkit-transition: background-color 0.5s ease-in;
	-moz-transition: background-color 0.5s ease-in;
	-ms-transition: background-color 0.5s ease-in;
	-o-transition: background-color 0.5s ease-in;
	transition: background-color 0.5s ease-in;
}

.low-priority {
	background-color: #6eeb83;
	color: #000000;
}

.medium-priority {
	background-color: #e4ff1a;
	color: #000000;
}

.high-priority {
	background-color: #ffb800;
	color: #000000;
}

@media only screen and (min-width: 600px) {
	:root {
		font-size: 17px;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2em;

		.task {
			margin-top: 0;
			flex: 1 1 calc(50% - 2em);
		}
	}

	.add-task {
		margin-top: auto;
	}
}

@media only screen and (min-width: 900px) {
	:root {
		font-size: 19px;
	}

	.container {
		flex-wrap: wrap;
		align-items: flex-start;

		.task {
			flex: 1 1 calc(25% - 2em);
			min-height: 325px;
		}
	}
}
